.profile-container{
    width:100%;
    height:auto;
}
.heading{
    margin-left:42%;
    font-size:20px;
    font-weight: 600;
}
#container1{
    margin-left:40%;
    margin-top:20px;
}
table th{
    padding:10px;
}